* {
  box-sizing: border-box;
  // border: 2px solid black;
}
body {
  width: 100%;
}

@import "mixins";
// nav 1 nav1content

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  background-color: #ff788f;
}

.nav1content {
  margin-right: 2%;
  font-family: 'Francois One', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 2px;
}

.nav1content2 a {
  color: inherit;
}

// nav 2

.nav2 {
  @include flexRowBetween;
  @include margins;
  @include widthHeight(57%, 40px);
  align-content: center;
  align-items: center;
  color: #767676;
}
.nav2 a {
  color: inherit;
  text-decoration: none;
  margin-right: 6%;
}
.nav2content3>img {
  @include widthHeight(auto, 37px);
}

.nav2content>img {
  @include widthHeight(auto, 20px);
}

.nav2content3 {
  @include widthHeight(15%, 18px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.nav2content {
  width: 15%;

}
.nav2content2 {
  display: flex;
  justify-content: space-between;
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  width: 20%;
}
.grayBox {
  margin-top: 3%;
  @include flexRowBetween;
  @include margins;
  width: 100%;
  margin-bottom: 2%
}
.limitedTime {
  width: 100%;
  margin-bottom: -1%;
}
.limited {
  margin-bottom: -1.5%;
}

.main1 {
  @include flexRowBetween;
  @include margins;
  flex-wrap: wrap;
  width: 100%;
}

.main1content {
  @include flexColumn;
  align-items: center;
  width: 49%;
}

.main1content>button,
.main2content>button {
  position: relative;
  bottom: 60px;
}

.main1content>img {
  @include widthHeight(100%, auto);
  margin-bottom: 2%;
}

.grayBoxContent>img {
  @include widthHeight(98%, auto);
}

.limitedTime>img {
  width: 100%;
}

.container {
  @include margins;
  @include flexColumn;
  width: 57%;
}

.shop {
  text-align: center;
  position: relative;
  bottom: 50px;
}
button {
  font-family: helvetica,arial,sans-serif;
  font-size: 9pt;
  border-radius: none;
  padding: 7px 12px;
  letter-spacing: .7px;
}

.main2 {
  @include flexRowBetween;
  @include margins;
  flex-wrap: wrap;
  width: 100%;
}

.main2content>img {
  @include widthHeight(100%, auto);
  margin-bottom: 5%;
}

.main2content {
  @include flexColumn;
  align-items: center;
  width: 31%;
}

.footer1 {
  text-align: center;
  font-size: 12px;
  width: 60%;
  @include margins;
}
.line {
  width: 100%;
}
